We want a coherent, maintainable artifact that humans are happy with.

A program can be:
- shorter.
- easier to read by a human.
- more correct around edge cases.
- faster than another which does the same thing.
- much easier to change when the requirements change.

These are sometimes in conflict.

Try writing a function in different ways and see which version is better.

Sometimes a program can log or assert to generate interesting observations which feed into further development of the program. We do our own science on the outputs later to improve the program.
